[Unit]
Description=winbind sleep hook
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=oneshot
RemainAfterExit=yes
ExecStart=-systemctl stop winbind
ExecStop=-systemctl start winbind

[Install]
WantedBy=sleep.target
