[Unit]
Description=Suspend bugs hook
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=oneshot
RemainAfterExit=yes
ExecStart=-/sbin/dhclient-exit
ExecStart=-systemctl stop winbind
ExecStop=-systemctl start winbind
ExecStop=-systemctl reload networking

[Install]
WantedBy=sleep.target
